* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Quicksand', sans-serif; 
}
p {
	line-height: 30px;
}
a {
	text-decoration: none;
}

#wrapper {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	height: 100%;
	width: 1200px;
}


#sidebar {
	position: fixed;
	padding-top: 50px;
	background-color: #f2f3f7;
	width: 300px;
	height: 100%;
	overflow: scroll;
	text-align: center;
	text-transform: uppercase;
	z-index: 1000;
}
#sidebar::-webkit-scrollbar {
	display: none;
}
#sidebar div.image-box {
	margin: 0 auto;
	margin-bottom: 10px;
	width: 150px;
	height: 150px; 
	border-radius: 70%;
	overflow: hidden;
}
#sidebar img.photo-side {
	width: 100%;
	object-fit: cover;
}
#sidebar h2 {
	text-transform: capitalize;
}
#sidebar a {
	display: block;
	font-size: 13px;
	line-height: 15px;
	color: #000000b3;
	text-decoration: none;
	letter-spacing: 1px;
	margin-top: 15px;
}
#sidebar a:hover {
	color: #2c98f0;
	text-decoration: underline;
}


#main {
	margin-left: 300px;
	width: 900px;
	height: 100%;
	overflow: scroll;
}
#main::-webkit-scrollbar {
	display: none;
}

#main h2.title {
	text-transform: uppercase;
	color: #666;
	font-size: 12px;
	font-weight: normal;
    letter-spacing: 5px;
	margin-bottom: 15px;
}
#main h3.subtitle {
	text-transform: capitalize;
	font-size: 18px;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
    letter-spacing: 5px;
	margin-bottom: 50px;
}
#main div.container {
	margin-bottom: 150px;
	padding: 0 50px;
	width: 100%;
}
#main div.content {
	font-size: 15px;
}

#main #thank-you div.content {
	width: 100%;
	padding: 25px;
	color: #fff;
	background-color: #2c98f0;
}

#main #thank-you p {
	text-align: center;
	font-size: 16px;
}
