---
layout: default
title: Graphics
css:
  - /assets/css/home.css
js:
  - /assets/js/graphics-grid.js
---

<div class="header-section">
  <h1 class="page-title">Graphics</h1>
</div>

<div class="content-container">
  <div class="graphics-list" id="graphicsList">
    {% for graphic in site.graphics %}
    <div class="graphics-item" data-url="{{ graphic.url | relative_url }}">
      <div class="graphics-title">{{ graphic.title }}</div>
      {% if graphic.description %}
      <div class="graphics-description">{{ graphic.description }}</div>
      {% endif %}
      {% if graphic.date %}
      <div class="graphics-date">{{ graphic.date | date: "%Y-%m-%d" }}</div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
