:root {
    --background-color: #111111;
    --background-highlight-color: #222222;

    --color: #cccccc;
    --code-color: #bbddff;
    --bright-color: #dddddd;
    --highlight-color: #ffffff;

    --table-border-color: #444444;
}



html {
    scroll-behavior: smooth;
}




body {
    margin: 0;
    padding: 0;

    background-color: var(--background-color);

    font-family: Arial, sans-serif;
    color: var(--color);
}




a {
    color: inherit;
}

a:hover {
    color: var(--highlight-color);
}




hr {
    margin: 60px 0;
    border-style: solid;
    border-width: 1px 0 0 0;
}




div.clear-both {
    clear: both;
}




table {
    border-top: 1px solid var(--table-border-color);
    border-collapse: collapse;
}

th,
td {
    border-bottom: 1px solid var(--table-border-color);
    border-left: 1px solid var(--table-border-color);
    padding: 5px 10px;
}

th:first-child,
td:first-child {
    border-left: none;
}




main {
    margin: 50px auto;
    padding: 10px;
    max-width: 800px;

    line-height: 2;
    word-break: keep-all;
    overflow-wrap: break-word;
}




nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px;
}

nav a.logo {
    display: inline-block;
    width: 60px;
    text-decoration: none;
}

nav a.logo span {
    display: inline-block;
    height: 30px;
    width: 15px;
    margin-right: 5px;
    border: 4px solid var(--highlight-color);
    box-sizing: border-box;
    transition: 0.2s;
}

nav a.logo span.s {
    border-bottom-color: transparent;
}

nav a.logo span.n {
    border-top-color: transparent;
    border-right-color: transparent;
}

nav a.logo span.i {
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    margin-left: -20px;
    margin-right: 0;
}

nav a.logo span.i.hover {
    margin-left: -15px;
}


nav a.page {
    float: right;
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

nav a.page svg {
    fill: var(--bright-color);
}

nav a.page svg:hover {
    fill: var(--highlight-color);
}




footer {
    text-align: center;
    padding-bottom: 100px;
}