ul.root > li {
    border-top: 1px solid;
    margin-top: 50px;
    padding-top: 50px;

    font-size: 25px;
    list-style: none;
}

ul.root > li:first-child {
    border: none;
    margin-top: 0;
    padding-top: 0;
}

ul.root li > span {
    font-size: 13px;
    margin-left: 30px;
    opacity: 0.5;
}