h1, h2, h3, h4, h5, h6 {
    margin-top: 50px;
}

h1.title {
    line-height: 1;
    margin-bottom: 0px;
}




p {
    margin: 0;
}

p.date {
    font-size: 17px;
    opacity: 0.5;
}




ul {
    padding-left: 20px;
}