h1, h2, h3, h4, h5, h6 {
    color: var(--bright-color);
}
h1, h2, h3 {
    margin-top: 60px;
}
h4, h5, h6 {
    margin-top: 40px;
}

h1.title {
    line-height: 1;
    margin-bottom: 0px;
}




p {
    margin: 0;
}

p.date {
    font-size: 17px;
    opacity: 0.5;
}




ol, ul {
    padding-left: 20px;
}

ul.index {
    background-color: var(--background-highlight-color);
    padding: 20px;
    margin-bottom: 100px;
}

ul.index li {
    list-style: inside;
}

ul.index li a {
    text-decoration: none;
}




code {
    color: var(--code-color);
}



#stamp {
    margin-top : 150px;
    display: flex;
    justify-content: flex-end;
}

#stamp img {
    width: 100px;
}