h1, h2, h3, h4, h5, h6 {
    color: var(--highlight-color);
}
h1, h2, h3 {
    margin-top: 60px;
}
h4, h5, h6 {
    margin-top: 40px;
}

h1.title {
    line-height: 1;
    margin-bottom: 0px;
}




p {
    margin: 0;
}

p.date {
    font-size: 17px;
    opacity: 0.5;
}




ol, ul {
    padding-left: 20px;
}




ul#index {
    background-color: var(--background-highlight-color);
    padding: 20px;
    margin-bottom: 100px;
}

ul#index li {
    list-style: inside;
}

ul#index li a {
    text-decoration: none;
}




code.hljs {
    border: 1px solid var(--border-color);
}

code.language-plaintext:not(.hljs) {
    display: inline-block;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    line-height: 1;
    padding: 2px 4px;
    transform: translateY(-1px);
    background-color: var(--background-highlight-color);
}

blockquote {
    margin: 0;
    padding: 4px 20px;
    border-left: 5px solid var(--border-color);
    background-color: var(--background-highlight-color);
}




#stamp {
    margin-top : 150px;
    display: flex;
    justify-content: flex-end;
}

#stamp img {
    width: 80px;
}
