#intro {
    text-align: center;
    height: 120px;
}


#index {
    background-color: var(--background-highlight-color);
    text-align: center;
    padding: 30px 10px;
}

#index a {
    display: inline-block;
    text-decoration-line: none;
    padding: 5px 20px;
}


#skills a {
    text-decoration-line: none;
}

#skills ul {
    list-style: none;
    padding-left: 16px;
}

#skills ul.root > li {
    margin-top: 40px;
    font-size: 24px;
}

#skills ul.root li > span {
    font-size: 12px;
    margin-left: 10px;
    opacity: 0.5;
}


#search img,
#theme img,
#searchInput {
    height: 35px;
}

#searchInput {
    display: none;
    margin: 0 auto;
    width: 60%;
    background-color: transparent;
    border-style: solid;
    border-color: var(--border-color);
    border-width: 0 0 1px;
    color: var(--highlight-color);
    font-size: 0.9rem;
    text-align: center;
}

#searchResult {
    display: none;
    margin-top: 70px;
    margin-bottom: 100px;
    line-height: 1.8;
    text-align: center;
}

#searchResult li {
    margin: 5px 0;
    list-style: none;
}

#searchResult li a {
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: top;
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px;
}

#logo img,
#search img,
#theme img {
    opacity: 0.8;
}

#logo img:hover,
#search img:hover,
#theme img:hover {
    opacity: 1;
}