:root {
  --background-color: #ffffff;
  --background-highlight-color: #eeeeee;
  --color: #111111;
  --highlight-color: #000000;
  --border-color: #aaaaaa;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--color);
  font-family: "Noto Sans KR", sans-serif;
}

a {
  color: inherit;
}

a:hover {
  color: var(--highlight-color);
}

textarea:focus,
button:focus,
input:focus {
  outline: none;
}

*:focus {
  outline: none;
}

hr {
  margin: 60px 0;
  border-style: solid;
  border-width: 1px 0 0 0;
}

table {
  border-top: 1px solid var(--border-color);
  border-collapse: collapse;
  word-break: break-all;
}

th,
td {
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  padding: 5px 10px;
}

th:first-child,
td:first-child {
  border-left: none;
}

main {
  margin: 0 auto;
  padding: 10px;
  max-width: 800px;

  line-height: 2;
  word-break: keep-all;
  overflow-wrap: break-word;
}

footer {
  text-align: center;
  padding-bottom: 100px;
}

#logo img {
  position: fixed;
  top: 8px;
  left: 8px;
  height: 60px;
  opacity: 0.8;
  transition: 0.2s;
  z-index: 100;
}

#logo img:hover {
  opacity: 1;
}