h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--highlight-color);
}

h1,
h2,
h3 {
    margin-top: 60px;
}

h4,
h5,
h6 {
    margin-top: 40px;
}

p {
    margin: 0;
}

ol,
ul {
    padding-left: 20px;
}

code.hljs {
    border: 1px solid var(--border-color);
}

code.language-plaintext:not(.hljs) {
    color: var(--code-color);
}

blockquote {
    margin: 0;
    padding: 4px 20px;
    border-left: 5px solid var(--border-color);
    background-color: var(--background-highlight-color);
}

article>ul>li {
    padding: 10px 0;
}

article>ol>li {
    padding: 10px 0;
}

#progressBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    background-color: var(--color);
}

#title {
    padding-top: 50px;
    margin-bottom: 0px;
    line-height: 1;
    text-align: center;
}

#date {
    font-size: 17px;
    opacity: 0.5;
    text-align: center;
}

#index {
    background-color: var(--background-highlight-color);
    padding: 20px;
    margin-bottom: 100px;
}

#index li {
    list-style: inside;
}

#index li a {
    text-decoration: none;
}

#stamp {
    margin-top: 150px;
    display: flex;
    justify-content: flex-end;
}

#stamp img {
    width: 80px;
}