body {
    margin: 0;
    padding: 0;

    background-color: #111111;

    font-family: Arial, sans-serif;
    color: #cccccc;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 50px;
}


a {
    text-decoration-line: none;
    color: inherit;
    transition: 0.2s;
}
a:hover {
    text-decoration-line: underline;
    color: #ffffff;
}


ul {
    padding-left: 20px;
    list-style-type: '· ';
}


hr {
    margin: 60px 0;
    border-style: solid;
    border-width: 1px 0 0 0;
}


table {
    border-top: 1px solid #444444;
    border-collapse: collapse;
}
th, td {
    border-bottom: 1px solid #444444;
    border-left: 1px solid #444444;
    padding: 5px 10px;
}
th:first-child, td:first-child {
    border-left: none;
}




main {
    margin: 50px auto;
    padding: 10px;
    max-width: 800px;

    line-height: 2;
    word-break: keep-all;
    overflow-wrap: break-word;
}




nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;

    font-family: monospace;

    background-color: #222222;
}

nav a.logo {
    display: inline-block;
    position: absolute;
    left: 20px;
    width: 150px;

    font-size: 35px;
}
nav a.logo span.word {
    display: inline-block;
    width: 38px;
    overflow-wrap: normal;
    letter-spacing: -3px;
}

nav a.logo span.first {
    position: absolute;
    z-index: 3;
    opacity: 1;
    transition: 1s;
}
nav a.logo span.second {
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: 1s;
}
nav a.logo span.first:hover {
    opacity: 0;
    transition: 0.5s;
}
nav a.logo span.first:hover ~ span.second {
    opacity: 1;
    transition: 0.1s;
}




@media screen and (max-width:1024px) {
    nav a.logo {
        left: 10px;
    }
}
@media screen and (max-width:512px) {
    nav a.logo {
        left: 5px;
    }
}