---
layout: none
permalink: /graphics
---

<!DOCTYPE html>
<html lang="ko">

<head>
    {% include google-analytics.html %}
    <title>Interactive Web Graphic</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="환상이 눈 앞에 있습니다." />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <style>
        html,
        body {
        }

    </style>
</head>

<body>
    {% for graphic in site.graphics %}
    <a href="{{ graphic.url | relative_url }}">
        <h2>{{ graphic.title }}</h2>
        <p>{{ graphic.description }}</p>
        <p class="date">{{ graphic.date | date: '%Y-%m-%d' }}</p>
    </a>
    {% endfor %}
</body>

</html>