<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ '/assets/css/base.css' | relative_url }}">

  {% seo %}
</head>

<body>
  <nav>
    <a id="logo" href="{{ '/' | relative_url }}">
      <span id="seo">서</span><span id="ul">울</span><span id="si">시</span><span id="min">민</span>
    </a>
  </nav>
  <main>
    {{ content }}
  </main>
  <footer>
    <hr>
    <p>(C) {{ "now" | date: "%Y" }}. {{ site.author.name }}. All rights reserved.</p>
  </footer>
</body>

<script>
  const logo = document.getElementById('logo');
  const words = logo.children;

  for (let i = 0; i < words.length; i++) {
    logo.addEventListener('mouseover', (e) => addHoverClass(words[i]));
    logo.addEventListener('mouseout', (e) => removeHoverClass(words[i]));
    setTimeout(() => addHoverClass(words[i]), 100 + 100 * i);
    setTimeout(() => removeHoverClass(words[i]), 400 + 100 * i);
  }


  function addHoverClass(element) {
    element.className += ' hover'
  }
  function removeHoverClass(element) {
    element.classList.remove('hover');
  }
</script>

</html>