---
layout: base
---



<br>
<p id="intro">{{ site.description }}</p>
<br>
<article id="notes"></article>




<script>
  var pages = getPages();
  var nodes = makeNodes(pages);
  var root = groupNodes(nodes);

  var list = document.createElement("ul");
  makeList(root, list);

  list.removeChild(list.querySelector("li"));
  list.querySelector("ul").className = "root";
  document.getElementById("notes").innerHTML = list.innerHTML;


  function makeList(node, list) {
    var listItem = document.createElement("li");

    if (node.children != undefined) {
      var index = node.children.filter(child => child.isIndex)[0];
      node.children = node.children.filter(child => !child.isIndex);

      if (index != undefined) {
        var anchor = document.createElement("a");
        anchor.innerHTML = index.name;
        anchor.href = index.url;
        listItem.appendChild(anchor);
        var span = document.createElement("span");
        span.innerHTML = index.date;
        listItem.appendChild(span);
      } else {
        listItem.innerHTML = node.name + " (Must add category's index file)";
      }
      list.appendChild(listItem);

      var childList = document.createElement("ul");
      for (var i = 0; i < node.children.length; i++) {
        makeList(node.children[i], childList);
      }

      list.appendChild(childList);

    } else {
      var anchor = document.createElement("a");
      anchor.innerHTML = node.name;
      anchor.href = node.url;
      listItem.appendChild(anchor);
      var span = document.createElement("span");
      span.innerHTML = node.date;
      listItem.appendChild(span);
      list.appendChild(listItem);
    }
  }


  function groupNodes(nodes) {
    var root = {name: "root"};
    root.children = nodes;

    return groupNode(root);
  }

  function groupNode(node) {
    var categories = Array.from(new Set(node.children.filter(child => child.children != undefined).map(child => child.name)));

    for (var i = 0; i < categories.length; i++) {
      var category = categories[i];
      var groupedNode = {
        name: category,
        children: node.children.filter(child => child.name === category).map(child => child.children).flat(Infinity)
      };

      node.children = node.children.filter(child => child.name != category);
      node.children.push(groupedNode);

      if (groupedNode.children != undefined) {
        groupNode(groupedNode);
      }
    }

    return node;
  }


  function makeNodes(pages) {
    var nodes = pages.map(page => makeNode(page));
    return nodes;
  }

  function makeNode(page) {
    var leaf = {
      name: page.title,
      date: page.date,
      url: page.url,
      isIndex: page.name === "index"
    }
    return makeMultiDepthNode(page.category, leaf, 1);
  }

  function makeMultiDepthNode(category, child, indent) {
    var node = {
      name: category[category.length - indent],
      children: [child]
    };

    while (indent < category.length) {
      indent++;
      return makeMultiDepthNode(category, node, indent);
    }

    return node;
  }


  function getPages() {
    var pages = [];

    {% for note in site.notes %}
      var id = "{{ note.id }}".split("/");

      pages.push({
        category: id.slice(2, id.length - 1),
        name: id[id.length - 1],
        title: "{{ note.title }}",
        date: "{{ note.date | date: '%Y-%m-%d' }}",
        url: "{{ note.url | relative_url }}",
      });
    {% endfor %}

    return pages;
  }
</script>




<link rel="stylesheet" href="{{ '/assets/css/home.css' | relative_url }}">