---
layout: base
---

<h1 class="title">{{ page.title }}</h1> 
<p class="version">version : {{ page.version }}</p>

{{ content }}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/stackoverflow-dark.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

<script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: false, theme: 'dark' });
    await mermaid.run({ querySelector: '.language-mermaid' });
</script>




<link rel="stylesheet" href="{{ '/assets/css/note.css' | relative_url }}">
