---
layout: base
---


<div id="progressBar"></div>

<article>
    <h1 id="title">{{ page.title }}</h1>
    <p id="date">{{ page.date | date: "%Y년 %-m월 %e일" }}</p>
    <ul id="index"></ul>
    {{ content }}
    <div id="stamp">
        <img src="{{ '/assets/image/stamp/original.png' | relative_url }}">
    </div>
</article>

<script>
    const title = document.getElementById('title');
    type(title, title.innerText);

    const date = document.getElementById('date');
    type(date, date.innerText, 80);

    const index = document.getElementById('index');
    const headers = document.querySelectorAll('h1,h2,h3,h4,h5,h6');

    for (let i = 0; i < headers.length; i++) {
        const header = headers[i];

        const anchor = document.createElement('a');
        anchor.innerHTML = header.innerText;
        anchor.href = '#' + header.id;

        const item = document.createElement('li');
        item.appendChild(anchor);
        item.style.marginLeft = (parseInt(header.tagName.replace('H', '')) - 1) * 15 + 'px';

        index.appendChild(item);
    }

    window.onscroll = function () {
        var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
        var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        var scrolled = (winScroll / height) * 100;
        document.getElementById('progressBar').style.width = scrolled + "%";
    };
</script>

<link rel="stylesheet" href="{{ '/assets/css/note.css' | relative_url }}">