---
layout: none
---

<html lang="ko">
  <head>
    <title>Algorithm Problem Solving</title>
  </head>
  <body>
    <h1>Algorithm PS <small>with C++</small></h1>
    <ul>
      {% for problem in site.problems %}
      <li>
        <a href="{{ problem.url | relative_url }}">
          [{{ problem.category | upcase }}] {{ problem.title }} <small>({{ problem.tags }})</small> - <small>{{ problem.date | date: '%Y.%m.%d' }}</small> 
        </a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
