<html lang="ko">
  <head>
    <title>[C++ PS] {{ page.title }} ({{ page.category }})</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/vs2015.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>hljs.highlightAll();</script>
    <style>
      body {
        font-family: "Noto Sans KR", sans-serif;
      }
      table,
      th,
      td {
        border: 1px solid;
        border-collapse: collapse;
      }
      td {
        padding: 2px 10px;
      }
      hr {
        margin: 50px 0;
      }
      h1:not(:first-child) {
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <h1>{{ page.title }}</h1>
    <p>
      날짜 : {{ page.date | date: "%Y년 %-m월 %e일" }}
      <br />
      기술 : {{ page.tags }}
      <br />
      언어 : C++
      <br />
      출처 : <a href="{{ page.source }}" target="_blank">{{ page.category }}</a>
    </p>
    <hr />
    {{ content }}
  </body>
  <script>
    renderMermaid();

    async function renderMermaid() {
      mermaid.initialize({
        theme: "neutral",
        startOnLoad: false,
        securityLevel: "loose",
      });
      await mermaid.run({ querySelector: ".language-mermaid" });
    }
  </script>
</html>
