---
layout: skill-base
---


<div id="progressBar">
    <div></div>
</div>

<h1 id="title">{{ page.title }}</h1>
<p id="date">{{ page.date | date: "%Y년 %-m월 %e일" }}</p>


<section id="index">
    <a onclick="toggleIndex()"><img></a>
    <ul></ul>
</section>

<article>{{ content }}</article>

<div id="stamp">
    <img src="{{ '/assets/img/skill-stamp/original.png' | relative_url }}">
</div>

<script>
    const indexSection = document.getElementById('index');
    const indexToggleButton = indexSection.getElementsByTagName('a')[0];
    const indexToggleImage = indexToggleButton.getElementsByTagName('img')[0];
    const indexList = indexSection.getElementsByTagName('ul')[0];

    indexToggleImage.src = localStorage.getItem('theme') === 'dark'
        ? "{{ '/assets/icon/list/white.svg' | relative_url }}"
        : "{{ '/assets/icon/list/black.svg' | relative_url }}";

    function toggleIndex() {
        if (indexList.style.display === 'block') {
            indexSection.style.width = '50px';
            indexList.style.display = 'none';
        } else {
            indexSection.style.width = '100%';
            indexList.style.display = 'block';
        }
    }


    const title = document.getElementById('title');
    const date = document.getElementById('date');
    type(title, title.innerText);
    type(date, date.innerText, 80);


    const headers = document.querySelectorAll('h1,h2,h3,h4,h5,h6');

    for (let i = 0; i < headers.length; i++) {
        const header = headers[i];

        const anchor = document.createElement('a');
        anchor.innerHTML = header.innerText;
        anchor.href = '#' + header.id;

        const item = document.createElement('li');
        item.appendChild(anchor);
        item.style.marginLeft = (parseInt(header.tagName.replace('H', '')) - 1) * 15 + 'px';

        indexList.appendChild(item);
    }

    const progressBar = document.getElementById('progressBar');
    let scrolling;
    window.onscroll = function () {
        var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
        var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        var scrolled = (winScroll / height) * 100;

        progressBar.style.width = scrolled + "%";
        progressBar.style.height = '5px';

        clearTimeout(scrolling);
        scrolling = setTimeout(() => {
            progressBar.style.height = '2px';
            scrolling = undefined;
        }, 200);
    };
</script>

<link rel="stylesheet" href="{{ '/assets/css/skill.css' | relative_url }}">